/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.light-blue.lighten-1 {
  background-color: #57BBEF !important;
}

a {
  color: #57BBEF;
}

.orange {
  background-color: #BC84EF !important;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.icon-block img {
  display: block;
  height: auto; 
  width: auto; 
  max-width: 80%; 
  max-height: 80%; 
}


div.container > p:first-child {
  margin: 0 0 0 auto;
  text-align: right;
}


div.content ul {
  padding: 1em;
}

div.content ul li {
     list-style-type: disc;     
}
