<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ site.title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ site.github.url }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ site.github.url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% if site.css %}
  <link href="{{ site.github.url }}/css/{{ site.css }}.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% endif %}
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">

        <h1><a id="logo-container" href="{{ site.github.url }}" class="brand-logo">Regulamentos OSHWDem</a></h1>

        <ul class="right hide-on-med-and-down">
          <li><a href="labirinto_gl">Labirinto</a></li>
          <li><a href="seguelinhas_gl">Segueliñas</a></li>
          <li><a href="loita_sumo_gl">Sumo</a></li>
          <li><a href="combate_gl">Combate</a></li>
          <li><a href="hebocon_gl">Hebocon</a></li>
          <li><a href="velocistas_gl">Velocistas</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="labirinto_gl">Labirinto</a></li>
          <li><a href="seguelinhas_gl">Segue liñas</a></li>
          <li><a href="loita_sumo_gl">Sumo</a></li>
          <li><a href="combate_gl">Combate</a></li>
          <li><a href="hebocon_gl">Hebocon</a></li>
          <li><a href="velocistas_gl">Velocistas</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container content">
      {{ content }}
    </div>
  </div>

  <footer class="page-footer orange">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Sobre a OSHWDem</h3>
          <p>A <a href="http://oshwdem.org">OSHWDem</a> é un evento sobre tecnoloxías libres e abertas organizado por <a href="http://bricolabs.cc">BricoLabs</a>. Parte da programación da OSHWDem son as competicións de robots.</p>
        </div>
        <div class="col l6 s12">
          <h3 class="white-text">Ligazóns</h3>
          <ul>
            <li>* <a class="" href="https://oshwdem.org/inscripcion-competiciones-2017/">Formulario inscrición competiciones OSHWDem 2017</a></li>
            <li>* <a class="" href="http://bricolabs.cc">Asociación BricoLabs</a></li>
            <li>* <a class="" href="http://oshwdem.org">OSHWDem</a></li>
            <li>* <a class="" href="https://github.com/brico-labs/Regulamentos/issues">Revisión destes regulamentos</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> and powered by <a class="orange-text text-lighten-3" href="http://github.com/rafacouto">Caligari.</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
