<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ site.title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ site.github.url }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ site.github.url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% if site.css %}
  <link href="{{ site.github.url }}/css/{{ site.css }}.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% endif %}
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">

        <h1><a id="logo-container" href="{{ site.github.url }}" class="brand-logo">Reglamentos OSHWDem</a></h1>

        <ul class="right hide-on-med-and-down">
          <li><a href="labirinto_es">Laberinto</a></li>
          <li><a href="seguelinhas_es">Sigue líneas</a></li>
          <li><a href="loita_sumo_es">Sumo</a></li>
          <li><a href="combate_es">Combate</a></li>
          <li><a href="hebocon_es">Hebocon</a></li>
          <li><a href="velocistas_es">Velocistas</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="labirinto_es">Laberinto</a></li>
          <li><a href="seguelinhas_es">Siguelíneas</a></li>
          <li><a href="loita_sumo_es">Sumo</a></li>
          <li><a href="combate_es">Combate</a></li>
          <li><a href="hebocon_es">Hebocon</a></li>
          <li><a href="velocistas_es">Velocistas</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container content">
      {{ content }}
    </div>
  </div>

  <footer class="page-footer orange">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Sobre la OSHWDem</h3>
          <p>La <a href="http://oshwdem.org">OSHWDem</a> es un evento sobre
	  tecnologías libres y abiertas organizado por <a
		  href="http://bricolabs.cc">BricoLabs</a>. Parte de la
	  programación de la OSHWDem son las competiciones de robots.</p>
        </div>
        <div class="col l6 s12">
          <h3 class="white-text">Enlaces</h3>
          <ul>
            <li>* <a class="" href="https://oshwdem.org">Formulario inscripción competiciones OSHWDem 201x</a></li>
            <li>* <a class="" href="http://bricolabs.cc">Asociación BricoLabs</a></li>
            <li>* <a class="" href="http://oshwdem.org">OSHWDem</a></li>
            <li>* <a class=""
			    href="https://github.com/brico-labs/Regulamentos/issues">Revisión de estos reglamentos</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> and powered by <a class="orange-text text-lighten-3" href="http://github.com/rafacouto">Caligari.</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
